*, *:before, *:after{
  box-sizing: border-box;
  margin: 0; padding: 0;
} 
body{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}


$i: 0;
@for $i from 0 through 6{
  .active-slide-#{$i} .card-#{$i}{
    opacity: 1;
    transform: scale(1);
    .card-details{
      opacity: 1;
    }
  }
}

.card-details{
  // margin-top: 160px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;

 
  &__middle{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }
  
  &__left{
    text-align: right;
    position: absolute;
    top: 0; left: -5px;
    transform: translateX(-160px);
    // transform-origin: top right;
    display: flex;
    flex-direction: column;
    p{ position: relative; width: 150px; }
    p:after{
      content: '';
      width: 5px; height: 5px;
      background: black;
      position: absolute;
      top: 50%; right: -10px;
      transform: translateY(-50%);
      border: 0; border-radius: 50%;
    }
  }

  &__right{
    position: absolute;
    top: 0; 
    right: -100px;
    p{
      position: relative;
      left: 10px;
      &:before{
        content: '';
        width: 5px; height: 5px;
        background: black;
        position: absolute;
        top: 50%; left: -10px;
        transform: translateY(-50%);
        border: 0; border-radius: 50%;
      }
    }
  }
}

.person-guide{
  opacity: 0;
  transform: translateY(150px);
}

