*, *:before, *:after{
  box-sizing: border-box;
  margin: 0; padding: 0;
} 
html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  /* background: #f2f5f7; */
  background-image: url("./media/bg.png");
  background-repeat: repeat;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}