*, *:before, *:after{
  box-sizing: border-box;
  margin: 0; padding: 0;
} 
html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  // background: #f2f5f7;
  background: url("./media/bg.png") repeat;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}


.App{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  // @media(min-width: 768px){
  //   overflow-y: scroll;
  // }
}



$i: 0;
@for $i from 0 through 6{
  .active-slide-#{$i} .card-#{$i}{
    opacity: 1;
    transform: scale(1);
    .card-details{
      opacity: 1;
    }
  }
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button{
  display: none;
}