body{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  overflow-y: scroll;

}

.App{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}