*, *:before, *:after{
  box-sizing: border-box;
  margin: 0; padding: 0;
} 
html, body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}
body{
  overflow-y: scroll;
  overflow-x: hidden;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}


$i: 0;
@for $i from 0 through 6{
  .active-slide-#{$i} .card-#{$i}{
    opacity: 1;
    transform: scale(1);
    .card-details{
      opacity: 1;
    }
  }
}